{% extends "Hub/admin_base.html" %}

{% block content %}
<div style="font-size: 20px;">
    <h1 style="font-size: 50px; color: #4054ad">Posts</h1>
        <div class="search-input">
                <br>
            <form method="post">
                {%csrf_token%}
                <input type="text"
                       name="search"
                       style="width: 90%"
                       value="{% if src %}{{search}}{% endif %}"
                       placeholder="Type to search..">
            </form>
        </div>
    <br><h2>{{len}} {% if len > 1 %} results {% else %} result {% endif %}</h2>
    <section style="display: line-block;">
        <div class="product-center container" style="grid-template-columns: repeat(auto-fit,minmax(20rem, 30rem));">
            {% for post,like,view in posts %}
            <div class="product" style="height: 32rem; background: #4054ad">
                <div class="product-header" style="height: 25rem;">
                    <img src="{{media_url}}{{ post.image }}" alt="">
                    <ul class="icons" style="left:5%;">
                        <h1 style="color: #fff">{{post.user_id.username}}</h1>
                        <br>
                        <h3 style="color: #fff">Like: {{like}}</h3>
                        <h3 style="color: #fff">View: {{view}}</h3>
                    </ul>
                </div>
                <div class="product-footer">
                    <a href="/admin_post/{{post.id}}" style="color: #fff">
                        <h3>{{post.title}}</h3>
                    </a>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>
</div>
{% endblock %}