{% extends "Hub/home_base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/Hub/create_post.css">
    <script >
        var m = {{len}} + 1;
        function myFunction() {
            var x = document.createElement("INPUT");
            x.setAttribute("type", "text");
            x.setAttribute("onkeypress", "return searchKeyPress(event);")
            x.className = "tete";
            x.id = "id_of_input";
            x.name = "recipe" + m;

            var y = document.createElement("br");
            var h = document.createTextNode("Step " + m);
            var node = document.getElementById("re");

            var l = document.createElement("input");
            l.setAttribute("type", "file");
            l.className ="meme";
            l.name="anh" + m;

            var cc = document.createElement('div');
            cc.id ='buoc' + m;
            cc.className = "steps";
            node.appendChild(cc);
            cc.appendChild(h);
            cc.appendChild(x);
            cc.appendChild(y);
            cc.appendChild(l);
            cc.appendChild(y);

            document.getElementById('num').setAttribute("value", m);
            m++;
        }

        function searchKeyPress(e)
        {
            e = e || window.event;
            if (e.keyCode == 13)
            {
                document.getElementById('btnSearch').click();
                return false;
            }
            return true;
        }
        function clicked(e)
        {
            if(!confirm('Are you sure?')) {
                e.preventDefault();
            }
        }
    </script>
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="top_layer">
            <div class="getName">
               <div class="name">
                    <input type="text" name="dish" id="name-dish" placeholder="Title..." value="{{post.title}}" >
                </div>
            </div>

            <input type="text" id="describe" name="des" placeholder="Description...." value="{{post.description}}"/>

            <div class="begin">
                <div class="image">
                <label id="label-camera" for="file-input">
                    <img src="{{media_url}}{{post.image}}" style="max-width: 70%; display:block; margin-left:auto; margin-right:auto; border-radius: 10px;">
                </label>
                <input id="file-input" type="file" name="image"/>
                </div>
            </div>

            <div class="Ingredients">
                <textarea name="textField" id="inText" cols="30" rows="10" placeholder="ingredients...">{{post.material}}</textarea>
            </div>
        </div>

        <div class="recipe-End">
            <div class="recipe" id="re">
                <input type="number" id="num" name="numberStep" placeholder="0" value="{{len}}"/>
                <p>Step</p>
                <br>
                {% for s, i in steps %}
                <div id="buoc{{i}}" class="steps">Step {{i}}<input type="text" onkeypress="return searchKeyPress(event);" class="tete" id="id_of_input" name="recipe{{i}}" value="{{s.body}}">

                    <input type="file" class="meme" name="anh{{i}}" >
                    <img src="{{media_url}}{{s.image}}" style="max-height: 100px; margin-top: 10px; border-radius: 6px;">
                    <br>
                </div>
                {% endfor %}
            </div>
            <input type="button" class="add" id="btnSearch" value="+" onclick="myFunction()"/>

            <label for="submit" class="lb_submit">
                <i class="fa fa-check"></i>
            </label>
            <label for="delete" class="lb_submit">
                <i class="fas fa-trash-alt"></i>
            </label>
            <input type="submit" class="but" id="submit" onclick="return confirm('Are you sure?')" value="POST"/>
            <input type="submit" name="send" class="but" id="delete" value="Delete this post" onclick="return confirm('Are you sure you want to delete this post?')">
        </div>
    </form>
{% endblock %}