<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CookHub</title>
  <!-- google font -->
  <link href="https://fonts.googleapis.com/css2?family=Mulish&display=swap" rel="stylesheet">
  <!-- custom css -->
  <link href="/static/Hub/create.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">
        <div class="invitation">
            <div>
                <input type="text" style="font-size: 40px; border: none; color: #575757" value="{{post.title}}">
                <br><br>
                <input type="text" style="font-size: 20px; border: none; color: #575757" value="{{post.description}}">
                <br><br>
                <input type="text" style="font-size: 20px; border: none; color: #575757" value="{{post.material}}">
            </div>
            <header id="header">
                <h1>Your steps</h1>
            </header>
            <main class="main">
                <form id="inviteForm" method="POST">
                    <input type="text" name="name" placeholder="Write step">
                    <button type="submit" name="submit" value="submit">Submit</button>
                </form>

            <!-- <div class="showHide">
              <label>Hide those who haven't responded</label>
              <input type="checkbox">
            </div>  -->

                <ul id="invitedList">
                    {% for step in steps %}
                    <li>
                        <span>{{step.body}}</span>
                        <label>Confirmed<input type="checkbox"></label>
                        <button>edit</button>
                        <input type="file"></button>
                        <button>remove</button>
                    </li>
                    {% endfor %}
                </ul>
            </main>
        </div>
    </div>
  <!-- custom js -->
    <script type="text/javascript" src="/static/Hub/create.js"></script>
</body>
</html>
