{% extends "Hub/home_base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/Hub/styles.css">
    <section class="hero" id="hero">
        <div class="loginbox">
        <h1 class="name-box">Login Here</h1>
            <form method="POST">
                {%csrf_token%}
                <p>{{error}}</p>
                <p>Username</p>
                <input type="text" name="username" placeholder="Enter Username">
                <p>Password</p>
                <input type="password" name="password" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <a href="/forgot_password">Forgot your password ?</a><br>
                <a href="/register">Don't have an account ?</a><br>
                <p>___________________________________</p>
                <br><br>
                <a href="#"><img src="/static/Hub/resources/face.png" style="border-radius:20px; height: 40px; width: 80%;"></a>
                <a href="#"><img src="/static/Hub/resources/google.png" style="border-radius:20px; height: 40px; width: 80%;"></a>
            </form>
        </div>
    </section>
    <script src="/static/Hub/main.js"></script>

{% endblock %}