{% extends "Hub/home_base.html" %}

{% block content %}
    <link rel="stylesheet" href="/static/Hub/styles.css">
    <section class="hero" id="hero" style=" text-align: left;">
        <div class="loginbox" style="width: 60%">
            <h1 style="font-size: 40px; color: #fff;">Messenger</h1>
            {% for m in mess %}
                <br>
                <a style="font-size: 20px;  color: #fff;" href="/{{m.post_id}}">
                    <i>{{m.date}}</i> &ensp; &ensp; <b>{{m.user_send.username}}</b>: {{m.body}}
                </a>
            {% endfor %}
        </div>
    </section>


    <script src="/static/Hub/main.js"></script>
    <script src="/static/Hub/suggestions.js"></script>
{% endblock %}