{% extends "Hub/home_base.html" %}
{% block content %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/Hub/styles.css">
    <link rel="stylesheet" href="/static/Hub/post.css">
    <script>
        function like(ele) {
            $.ajax({
                type: 'POST',
                url: "{% url 'like_url' %}",
                data: {
                 "csrfmiddlewaretoken": "{{ csrf_token }}",
                 "user_id": {{user_.id}},
                 "post_id": {{post.id}},
                 },
                 success: function (response) {
                    if (ele.id == "like_button_id") {
                        if(response["valid"]) {
                            document.getElementById('icon_id').className = "fa fa-heart";
                        } else {
                            document.getElementById('icon_id').className = "far fa-heart";
                        }
                        document.getElementById('like_num').innerHTML = response["len"];
                    } else {
                        if(response["valid"]) {
                            document.getElementById('icon_' + ele.id).className = "fa fa-heart";
                        } else {
                            document.getElementById('icon_' + ele.id).className = "far fa-heart";
                        }
                    }
                 },
                 error: function (response) {
                    console.log(response)
                 }

            })
        }
        function cmt(e) {
            if (e.keyCode == 13) {
                var comment = document.createElement('p');
                var user = document.createElement('b');
                var body = document.createTextNode(document.getElementById('comment').value);
                user.innerHTML= "{{user_.username}} : ";
                comment.appendChild(user);
                comment.appendChild(body);

                $.ajax({
                    type: 'POST',
                    url: "{% url 'cmt_url' %}",
                    data: {
                     "csrfmiddlewaretoken": "{{ csrf_token }}",
                     "user_id": {{user_.id}},
                     "post_id": {{post.id}},
                     "body": document.getElementById('comment').value
                     },
                     success: function (response) {
                        if(response["valid"]) {
                            list = document.getElementById('cmt_area');
                            list.appendChild(comment);
                            //list.insertBefore(comment, list.childNodes[2]);
                        }
                     },
                     error: function (response) {
                        console.log(response)
                     }
                })
            }
        }
    </script>

    <section class="hero">
        <div style="align-items: center; text-align: center; margin: auto;">
            <img src="{{media_url}}{{ post.image }}" alt="img" style="width:auto; height:500px; border-radius: 5%;">
            <h1 class="name-box" style="font-size: 50px; color: #fff">{{post.title}}</h1><br>
            <h2 class="name-box" style="font-size: 20px; color: #ccc">{{post.description}}</h2>
            <br>
        </div>
        <br><br><br><br>
    </section>

    <div class="trending body-area">
        <div class="header-part">
            <p style="font-size: 50px; ">Thành phần</p>
            <h3>
                <p style="font-size: 20px; color: #111111;">{{post.material}}</p>
            </h3>
        </div>
        <div style="padding: 20px;">
            <p style="font-size: 50px;">Cách nấu {{post.title}}</p>
            <br><br>
            {% for step in steps %}
                <p style="font-size: 20px;">• {{step.body}}</p>
                {% if step.image %}
                    <img src="{{media_url}}{{ step.image }}" alt="img" style="width:auto; height:150px; border-radius:10%;">
                {% endif %}
                <br><br>
            {% endfor %}
        </div>
        <br><br><br><br>
        <div class="footer-part">
            <div style="padding-left: 20px;">
                {% if user.username %}
                    {% if like %}
                        <button id="like_button_id" onclick="like(this)" style="background: none; border:none; outline:none;">
                            <p class="fa fa-heart" id="icon_id" style="font-size: 30px;"></p>
                        </button>
                    {% else %}
                            <button id="like_button_id" onclick="like(this)" style="background: none; border:none; outline:none;">
                            <p class="far fa-heart" id="icon_id" style="font-size: 30px; "></p>
                        </button>
                    {% endif %}
                    <a id="like_num" style="color: #111111; margin-left: -20px;">{{like_num}}</a>
                    {% if enable_edit %}
                        <a href="/edit/{{post.id}}" style="background: none; border:none; outline:none; color: #111111"> &ensp; &ensp; &ensp;
                            <p class="far fa-edit" style="font-size: 30px;"></p>
                        </a>
                    {% else %}
                        <a href="/report/{{post.id}}" style="background: none; border:none; outline:none; color: #111111" class="button_scroll"> &ensp; &ensp;
                            <p class="far fa-flag" style="font-size: 30px;"></p>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            <div id="cmt_area">
                {% if user.username %}
                <input type="text" name="cmt" id="comment" onkeypress="cmt(event)" placeholder="Say something" style="
                width: 80%;
                background: #fff;
                border-radius: 20px;
                outline: none;
                padding: 3px 3px 3px 10px;
                font-size: 28px;
                margin: 20px;">
                {% endif %}
                {% for cmt in comments %}
                    <p style="width: 100%; color: #111111; margin-left: 20px;"><b>{{cmt.user_id.username}} :</b> {{cmt.body}}</p>
                {% endfor %}
            </div>
        </div>
    </div>

    </section>



    <section class="trending user-area">
        <p style="font-size: 50px;">{{post.user_id.username}}</p>
        <img src="{{media_url}}{{ post.user_id.image }}"
             alt="img"
             style="width:auto;
             height:150px;
             border-radius:50%;
             box-shadow:5px 5px 20px -5px rgba(0, 0, 0, 0.5);">
        <p><i id="1" style="font-size: 24px;">{{post.user_id.sign}}</i></p>
    </section>

    <section class="trending offer-area">
       <div class = "menu_layer" id="menu_id" style="background: none; padding-top: 0">
            {% for p in offers_zip %}
            {% if p != post %}
                <div class="post" style="display: block; margin-left:auto; margin-right: auto;">
                    <div class="post-header">
                        <img src="{{media_url}}{{p.image }}">
                        <ul class="post-info">
                            <p>{{p.material}}</p>
                        </ul>
                    </div>
                    <div class="post-footer">
                        <a href="{{p.id}}">
                            <h3>{{p.title}}</h3>
                        </a>
                    </div>
                </div>
            {% endif %}
            {% endfor %}
        </div>
    </section>

    <script src="/static/Hub/main.js"></script>
{% endblock %}
