<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/Hub/post.css">
    <title>Document</title>
</head>
<body>
    <div class="view">
        <div class="half-right">
            <div class="post_face">
                <div class="tieu_de">
                    <p>Thành phần</p>
                </div>
                <p class="nglieu">
                    Thịt mỡ, dưa hành, cá chép, cà chua, rau muống, hải sâm, bí đao, dưa hấu, dưa ghém.
                </p>
            </div>
            <div class="step">
                <div class="tieu_de">
                    <p>Các bước</p>
                </div>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
                <ul class="li_step">
                    <li>Buoc 1: <p> Đem thịt đi rửa sạch, sát muối</p></li>
                </ul>
            </div>
                <div class="cmt_like">
                    <div class= "icon">
                        <button >
                        😋<i>0</i>
                        </button>
                        <button>
                        ❤️<i>0</i>
                        </button>
                        <button>
                        👏<i>1</i>
                        </button>
                    </div>
                      <div class="cmt">
                        <input type="text" name="comment" id="cmt" placeholder="Let's say something!" >
                      </div>
                </div>
           </div>
        <div class="half-left">
            <div class="infor">
                <h3>TruongPentakill</h3>
                <div class="image">
                    <img src="hc.png" alt="information"/>
                </div>
                <p>An immortal warrior</p>
            </div>
            <div class="list_mon">
                <div class="mon">
                    <img src="ava.png" alt="post1">
                    <p>Món 1</p>
                </div>
                <div class="mon">
                    <img src="ava.png" alt="post1">
                    <p>Món 2</p>
                </div>
                <div class="mon">
                    <img src="ava.png" alt="post1">
                    <p>Món 3</p>
                </div>
                <div class="mon">
                    <img src="ava.png" alt="post1">
                    <p>Món 4</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>