{% extends "Hub/home_base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/Hub/styles.css">
    <section class="hero" id="hero">
        <div class="loginbox">
            <h1> Why do you report this post ?</h1>
            <form method="POST">
                {%csrf_token%}
                <input type="text" name="report" placeholder="the reason for the report">
                <input type="submit" name="" value="Report">
            </form>
        </div>
    </section>

    <script src="/static/Hub/main.js"></script>
{% endblock %}