{% extends "Hub/home_base.html" %}

{% block content %}
<link rel="stylesheet" href="/static/Hub/search.css">
<div class="bg_search">
    <div class="trending" style="width: 80%; float:left;">
        <div class="search" style="">
            <form method="post">
                {%csrf_token%}
                <input type="text" style="font-size: 32px;" name="search" placeholder="Type to search.." value="{% if search %}{{search}}{% endif %}">
            </form>
        </div>
    </div>
    <p style="font-size: 30px; color: #fff; width:80%;"><i>{{len}} {% if len > 1 %} results {% else %} result {% endif %}</i></p>
    <div class = "menu_layer menu_search">
        {% for p in posts %}
            <div class="post">
                <div class="post-header">
                    <img src="{{media_url}}{{p.image }}">
                    <ul class="post-info">
                        <p>{{p.material}}</p>
                    </ul>
                </div>
                <div class="post-footer">
                    <a href="/{{p.id}}">
                        <h3>{{p.title}}</h3>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
    <br><br>
    <div>

    </div>
</div>

    <script src="/static/Hub/main.js"></script>
{% endblock %}