{% extends "Hub/home_base.html" %}

{% block content %}
<div id = "bg">

    <section class="flat" style="text-align: center; color:#fff;" id="hero">
        <img src="{{media_url}}{{ user2.image }}" class="logo" alt="" style="border-radius: 50%; padding-top:0; margin-top:70px;">
        <h1 class="name-box" style="font-size: 50px">
            {{user2.username}}
        </h1>
        <p><i>{{user2.sign}}</i></p>
        {% if not guess %}
            <a href="/user_edit">Edit profile</a>
        {% endif %}
        <h2>post: {{post_count}} &ensp; &ensp; like: {{like_count}} &ensp; &ensp; view: {{view_count}}</h2>
        <br>
        <a class="fas fa-share" style="font-size: 20px" href="#"></a>
    </section>

    <section style="background: #e3e9ff;">
        <div>
            {% for post in posts %}
            <div style="width: 60%;">
                <a style="font-size: 40px;" href="/{{post.id}}">{{post.title}}</a>
                <p style="font-size: 20px;">{{post.description}}</p>
                <p style="font-size: 20px;">{{post.material}}</p>
            </div>
            <img src="{{media_url}}{{ post.image }}" alt="img"
                 style="width:25%;
                 height:auto;
                 border-radius: 2%;">
            {% endfor %}
        </div>
    </section>
</div>
<script src="/static/Hub/main.js"></script>
{% endblock %}