.body-area {
    float:left;
    color:#111111;
    width: 65%;
    padding: 0;
}

.header-part {
    width:100%;
    border-bottom: 3px solid #111111;
    border-bottom-style: dashed;
    padding: 20px;
    background: #F7DD91;
    border-top-right-radius:18px;
    border-top-left-radius:18px;
}

.footer-part {
        width:100%;
        border-top: 3px solid #111111;
        border-top-style: dashed;
        padding: 20px;
        color:#111111;
        background: #F7DD91;
        border-bottom-right-radius:18px;
        border-bottom-left-radius:18px;
}

.user-area {
    background: none;
    border: none;
    width: 25%;
    color: #111111;
    text-align: center;
    padding-top: 0;
}

.offer-area {
    background: none;
    width: 25%;
    padding: 5px;
    color: #111111
}

@media (max-width:960px) {

    .body-area {
        width: 90%;
    }

    .user-area {
        width: 90%;
    }

    .offer-area {
        width: 90%;
    }
}